:root {
  --window-bg: #f1f1f1;
  --window-border: #d3d3d3;
  --header-bg: #2196f3;
  --header-fg: #ffffff;
  --resize-handle-bg: #d3d3d3;
  /* todo: use 7.css to fix styling*/
  --taskbar-bg: #000000;
  --button-bg: #7fffd4;
}

body {
  margin: 0;
}

#wallpaper {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url(../Assets/wallpaper.webp) center / cover no-repeat;
}

#overlay {
  position: fixed;
  inset: 0;
  z-index: 999999;
  pointer-events: none;
}
