@font-face {
  font-family: "Segoe UI";
  src: url(../Assets/fonts/segoeui.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url(../Assets/fonts/segoeuii.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url(../Assets/fonts/segoeuib.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --window-bg: #f1f1f1;
  --window-border: #d3d3d3;
  --header-bg: #2196f3;
  --header-fg: #ffffff;
  --resize-handle-bg: #d3d3d3;
  /* todo: use 7.css to fix styling*/
  --taskbar-bg: #000000;
  --button-bg: #7fffd4;
  --panel-size: 40px;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#wallpaper {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url(../Assets/wallpaper.webp) center / cover no-repeat;
}

#overlay {
  position: fixed;
  inset: 0;
  z-index: 999999;
  pointer-events: none;
}
