#launcher {
  position: fixed;
  bottom: var(--panel-size);
  left: 0;
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - var(--panel-size) - 8px);
  overflow-y: auto;
  background-color: var(--taskbar-bg);
}

#launcher button {
  width: 60px;
  height: 60px;
  background-color: var(--button-bg);
  border: none;
  flex: 0 0 60px;
}
